@CHARSET "ISO-8859-1";

body
{
	background: #000;
	color: #fff;
	font-family: Tahoma, Verdana, sans-serif;
}

h1
{
	text-align:center;
	line-height: 50px;
	border-bottom: 3px solid #fff;
	margin-bottom: 10px !important;
}

h1, p, h5
{
	margin:auto;
	width:80%;
}

h5
{
	text-align:right;
	line-height: 50px;
	font-style: italic;
}

a
{
	height:30px;
	text-decoration:none;
	color: #fff;
	line-height: 30px;
}

a:hover,
a:focus,
a:active
{
	background: #999;
}

#container
{
	margin-top: 20px;
	border: 3px solid #444;
	box-shadow: 0 0 30px #444 inset; 
}

.arrotondato
{
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
}

textarea
{
	width: 80%;
	height: 200px;
	font-family: "Courier New", monospace;
	margin-left: 10%;
	padding: 15px;
	background: #aaa;
}